/* z-custom.scss */

$brandOrange: #F79921;
$brandGray: #4D5150;
$brandRed: #992124;
$brandBlue: #4660AA;
$standardFont: 16px;
$bumpFont: 18px;
$tabletMin: "(min-width: 768px)";
$tabletMax: "(max-width: 991px)";
$desktopMin: "(min-width: 992px)";

@import "_header.scss";
@import "_homePage.scss";

/*
@import "_oldcss.scss";
@import "_navigation.scss";
@import "_interior";
@import "_homepage.scss";
@import "_sidebar.scss";
@import "_t2-landingPage.scss";
*/
